@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 250 252;
    --foreground: 15 23 42;
    --primary: 245 158 11;
    --secondary: 251 191 36;
    --surface: 255 255 255;
    --border: 51 65 85 / 0.1;
  }

  .dark {
    --background: 15 23 42;
    --foreground: 248 250 252;
    --primary: 245 158 11;
    --secondary: 251 191 36;
    --surface: 39 47 66;
    --border: 51 65 85 / 0.2;
  }
}
